{% extends 'base.html' %}
{% block app_content %}
    <a class="btn btn-warning home" href="/">На главную</a>

    <a class="btn btn-info refresh" href="/live/">Сделать шаг вручную</a>
    <p class="counter">{{ counter }}</p>
    <p class="cell_counter">Количество живых клеток: {{ cell_counter }}</p>
    <table class="world">
        {% for i in range(game.world|length) %}
            <tr>
                {% for j in range(game.world[0]|length) %}
                    {% if game.world[i][j] %}
                        <td class="cell living-cell"></td>
                    {% elif game.old_world[i][j] and not game.world[i][j] %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>setInterval(() => window.location.reload(), 1000);</script>
{% endblock %}